
@{
    ViewData["Title"] = "Dto";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item">
        <h1>Create DTO</h1>
        <br />
        Performance is a concept that <strong>AUA</strong> framework is working on it to always improve it, one of the main aspect of this concept,
        is <strong>DTO</strong>, so you can find more details by watching the video clip of <strong>DTO</strong>.
    </div>
    <div class="item">
        <h3>Watch the video</h3>
        <br />
        <iframe src="https://www.aparat.com/video/video/embed/videohash/sdFI3/vt/frame"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"></iframe>
    </div>
</div>
<div class="item_wrap">
    <div class="item">
        <h3>Adding new module dto at aua structure</h3>
        <br />
        <img src="/images/newSchoolDto.gif" alt="schoolDto" />
    </div>
    <div class="item">
        <h3>Adding new entity dto at aua structure</h3>
        <br />
        <img src="/images/newEntityDto.gif" alt="newEntityDto" />
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="flex: 1">
        <h3>Adding fields</h3>
        <br />
        <p>
            These fields are created before in the
            <strong>DomainEntities</strong> > <strong>Entities</strong> >
            <strong>School</strong> >
            <strong>Student</strong>
        </p>
        <br />
        <img src="/images/newEntityDtoClass.gif"
             alt="newEntityDtoClass"
             style="width: 100%; height: auto" />
    </div>
</div>

