
@{
    ViewData["Title"] = "GitRepository";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item" style="width:100%;">
        <h1>Git Repository</h1>
        <br />
        <p style="text-align:justify;">
            You can find codes at repository. &nbsp; &nbsp;
            <a href="https://github.com/Heilton/AUAFrameWork">Click here!</a>
        </p>
    </div>
</div>

