
@{
    ViewData["Title"] = "InmemoryService";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item" style="width:100%;">
        <h1>In-memory Service</h1>
        <br />
        <p style="text-align:justify;">
            You should know that, after the first
            <strong>login</strong> menus of the sidebar, would be ran from
            the <strong>Ram</strong>. Please watch the video for more
            details.
        </p>
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="width:100%; height:500px">
        <h3>Watch the video</h3>
        <br />
        <iframe src="https://www.aparat.com/video/video/embed/videohash/e6TaB/vt/frame"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width:100%; height:400px"></iframe>
    </div>
</div>

