
@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item">
        <h1>Introduction</h1>
        <br />
        <p style="text-align: justify;">
            Software projects require constant changes and updates. If the
            structure develops in the wrong way, it will prevent changes and
            extensions, and most of the time will lead to task duplication or
            rewriting of the project from scratch. To get rid of the
            complexity and task duplication that most programmers and
            developers face, which is also caused by the inconsistency of code
            at different levels of the program, we need a simple consistent
            structure for writing software projects so that we can hide some
            of the complexity and focus on business of the task. For example,
            the Bootstrap framework is a very useful framework for Front End,
            but few people would prefer to use frameworks like Bootstrap for
            design, and write all of their design with CSS from the beginning.
            For the Back End section, however, a simple, general-purpose
            framework can save time and cost and produce high-quality code and
            a uniform architecture. This framework allows developers to
            develop their projects based on an appropriate integrated pattern.
            The framework must be flexible enough to allow the programmer to
            apply any changes needed, relying on its robust structure.
        </p>
    </div>
</div>
<div class="item_wrap">
    <div class="item">
        <h1>Abstract</h1>
        <br/>
        <p style="text-align:justify;">
            Software projects require constant changes and updates. If the structure develops in the wrong way, it will prevent changes and extensions, and most of the time will lead to task duplication or rewriting of the project from scratch. To get rid of the complexity and task duplication that most programmers and developers face, which is also caused by the inconsistency of code at different levels of the program, we need a simple consistent structure for writing software projects so that we can hide some of the complexity and focus on business of the task. For example, the Bootstrap framework is a very useful framework for Front End, but few people would prefer to use frameworks like Bootstrap for design, and write all of their design with CSS from the beginning. For the Back End section, however, a simple, general-purpose framework can save time and cost and produce high-quality code and a uniform architecture. This framework allows developers to develop their projects based on an appropriate integrated pattern. The framework must be flexible enough to allow the programmer to apply any changes needed, relying on its robust structure.
            Why Framework?
            One of the problems of software companies is the lack of the right structure for developing their projects. As a result, they have often produced such complex and nested codes that creating changes in one part of the project severely affects or disrupts other parts. Therefore, lack of the right structure for development makes it impossible to update the previous code and reduces the efficiency of the team to almost zero. The reason for this is the difference in coding and lack of structure and architecture. The development team must first agree on a set of rules and structures. Architectural patterns are not the result of a programmer's experiences; they have resulted from the experiences of hundreds of programmers and design professionals over years. These frameworks are not innovations or inventions, but are feedbacks on redesign and recoding that programmers have been involved with in order to achieve the highest levels of flexibility, extensibility and reusability. Their use makes the produced codes more simple, flexible and extensible. The use of a framework can help us save time and cost and make it easier to document and maintain the system.
        </p>
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="width:100%; height:500px">
        <h3>Watch the video</h3>
        <br />
        <iframe src="https://www.aparat.com/video/video/embed/videohash/Dd9Jh/vt/frame"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width:100%; height:400px"></iframe>
    </div>
</div>

