
@{
    ViewData["Title"] = "UI & UX";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item">
        <h1>UI and UX</h1>
        <br />
        Working on <strong>UI</strong> is almost the last step of the
        project, so we need to make an <strong>Area</strong> and introduce
        our <strong>Entity</strong> to this layer, then we need to work on
        <strong>Controller</strong>
        and other part of that step.
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="width:100%; height:500px">
        <h3>Watch the video</h3>
        <br />
        <iframe src="https://www.aparat.com/video/video/embed/videohash/RU9kt/vt/frame"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width:100%; height:400px"></iframe>
    </div>
</div>




