
@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item">
        <h1>User Management Module</h1>
        <br />
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
        nulla, velit, inventore impedit, perferendis voluptates nisi
        libero magni quisquam autem iure quaerat necessitatibus. In vitae
        fugiat, totam nisi illo id consequatur dignissimos dolorum,
        facilis corporis natus, officia laudantium non aliquam reiciendis
        ea deserunt quas nobis ab! Totam expedita incidunt ex tempore
        vitae nobis eligendi. Deleniti, velit incidunt nostrum excepturi,
        quod magni nihil modi optio quos sunt odio laboriosam magnam
        tempora numquam necessitatibus aperiam pariatur dolore architecto
        quidem eaque delectus nulla sint id voluptatibus. Numquam laborum
        cupiditate dolor! Accusamus aperiam laborum sequi corrupti. Nam
        cumque cum cupiditate perferendis, totam est saepe mollitia neque!
        Fuga sunt quasi iste earum illum officia nemo culpa ipsam impedit
        dolorum labore magnam tempora, veniam nisi repellendus cupiditate
        iusto et voluptatibus placeat enim nulla! Officia, velit odio?
        Voluptate quo officia sunt in id, pariatur debitis non qui?
        Expedita fugit numquam incidunt cupiditate, molestiae ea harum
        consectetur voluptas ex, iure ipsum, commodi hic voluptatem
    </div>
    <div class="item">
        <h3>Watch the video</h3>
        <br />
        <iframe src="https://www.aparat.com/video/video/embed/videohash/8etOl/vt/frame"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"></iframe>
    </div>
</div>

