
@{
    ViewData["Title"] = "Versions";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item" style="flex:auto">
        <h1>Versions</h1>
        <br />
        <p>
            Here are versions of <strong>AUA</strong>
        </p>
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="flex:auto">
        <br />
        <table style="width:100%">
            <tr id="header">
                <th>Version</th>
                <th>Date of release</th>
                <th>Download Link</th>
            </tr>

            <tr>
                <td>First</td>
                <td>
                    2018
                </td>
                <td>
                    <a href="https://heilton.com">download here</a>
                </td>
            </tr>

            <tr>
                <td>Second</td>
                <td>
                    2018
                </td>
                <td>
                    <a href="https://heilton.com">download here</a>
                </td>
            </tr>

            <tr>
                <td>Third</td>
                <td>
                    2018
                </td>
                <td>
                    <a href="https://heilton.com">download here</a>
                </td>
            </tr>

        </table>
    </div>
</div>

