
@{
    ViewData["Title"] = "WebApi";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="item_wrap">
    <div class="item">
        <h1>Web API</h1>
        <br />
        <p style="text-align:justify;">
            <strong>API</strong> is a software implementation interface that
            allows other applications to interact with it. It enables us to
            implement <strong>HTTP</strong> protocol-based services more
            easily than ever. Many service receivers, such as web browsers,
            mobile devices, and desktop applications, can take advantage of
            the capabilities of this platform (Web Api). 
            In the <strong>last layer</strong> of the
            <strong>AUA</strong> framework, we can use different
            technologies such as the <strong>MVC</strong> -
            <strong>Rest WebApi</strong> - <strong>Grpc</strong> -
            <strong>Graphql</strong> - <strong>JWT</strong> (<strong>Json web Token</strong>) technology can be implemented and used for WebApi access
            levels in the <strong>AUA</strong> framework.
            <strong>Swagger</strong> is used for ease of use and WebApi
            testing. All the requirements for login and access levels using
            <strong>Token</strong> for the <strong>AUA</strong>
            framework are written in WebApi version and are ready for your
            business development.
        </p>
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="flex: auto">
        <p style="text-align:justify;">
            Note that the <strong>AUA</strong> framework can also be used
            for <strong>Windows form application</strong>,
            <strong>WPF</strong>, etc., because the last layer changes. The
            <strong>AUA</strong>
            framework is beyond the scope of this document. This document is
            just aimed at familiarizing you with how to work with the AUA
            framework. Using this document and tutorial videos, the
            programmer, regardless of his/her level, can work with this
            framework within just a week. 
            The <strong>AUA</strong> framework has tutorial videos for all
            stages and can be easily worked with. You can download the
            tutorial video on how to work with the AUA framework from the
            Hilton website at
            <strong><a href="http://www.heilton.com">here</a></strong> or
            <strong><a href="https://www.youtube.com">youtube</a></strong>
        </p>
    </div>
</div>
<div class="item_wrap">
    <div class="item" style="width:100%; height:500px">
        <h3>Watch the video</h3>
        <br />
        <iframe src="https://www.aparat.com/video/video/embed/videohash/RArPW/vt/frame"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width:100%; height:400px"></iframe>
    </div>
</div>

