
@{
    ViewData["Title"] = "Price";
    Layout = "~/Views/Shared/_LayoutPrice.cshtml";
}


<section class="price" id="price">
    <div class="max-width">
        <h2 class="title">Our Prices</h2>
        <main>
            <div class="box">
                <hr />
                <div class="content">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h2>Professional</h2>
                    <div class="text">
                        <h5><span>1</span>some text</h5>
                        <h5><span>30</span>Days Trial</h5>
                        <h5>Sale After Service</h5>
                        <h5>Help Line</h5>
                    </div>
                    <div class="price">
                        <span class="dollar">$</span>
                        <p><span>0</span>/month</p>
                    </div>
                    <button>Get</button>
                </div>
            </div>
            <div class="box">
                <hr />
                <div class="content">
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <h2>Professional</h2>
                    <div class="text">
                        <h5><span>1</span>some text</h5>
                        <h5><span>30</span>Days Trial</h5>
                        <h5>Sale After Service</h5>
                        <h5>Help Line</h5>
                    </div>
                    <div class="price">
                        <span class="dollar">$</span>
                        <p><span>0</span>/month</p>
                    </div>
                    <button>Get</button>
                </div>
            </div>
            <div class="box">
                <hr />
                <div class="content">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <h2>Professional</h2>
                    <div class="text">
                        <h5><span>1</span>some text</h5>
                        <h5><span>30</span>Days Trial</h5>
                        <h5>Sale After Service</h5>
                        <h5>Help Line</h5>
                    </div>
                    <div class="price">
                        <span class="dollar">$</span>
                        <p><span>0</span>/month</p>
                    </div>
                    <button>Get</button>
                </div>
            </div>
        </main>
    </div>
</section>

