
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_LayoutTeam.cshtml";
}


<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">Our Team</h2>
        <div class="carouselTeam owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="/images/Shahab.jpg" alt="Shahab_Attarnejad" />
                    <div class="text">Shahab Attarnejad</div>
                    <p>Plan consultant, Assistant and Developer</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="/images/Rahim.jpg" alt="Rahim_Lotfi" />
                    <div class="text">Rahim Lotfi</div>
                    <p>Project manager, Idea Designer and Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>